/************************************/
/*        CUSTOM PROPRETIES         */
/************************************/
:root {
  /*Colors*/
  --color-text: black;
  --color-blue: #0065fc;
  --color-lightBlue: #deebff;
  --color-lightGrey: #f2f2f2;
  --color-background: #fff;

  /*Spacing*/
  --margin-body: 1.5rem;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--color-primary);
}

* {
  box-sizing: border-box;
}

a,
a:active {
  text-decoration: none;
  color: var(--color-text);
}

h1,
h2 {
  margin: 0;
}

h2 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.3rem;
  font-weight: bold;
}

p {
  margin: 0.5rem 0;
}

figure {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: var(--margin-body) 1fr var(--margin-body);
}

/************************************/
/*              HEADER              */
/************************************/

header {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-column: 1 / -1;
  align-items: center;
}

.logo,
.signIn {
  grid-row: 1;
  padding: 1.3rem;
  padding-bottom: 0;
}

.signIn {
  font-weight: bold;
  color: var(--color-blue);
  text-align: end;
}

nav {
  grid-column: span 2;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 1rem;
  text-align: center;
  width: 50%;
  border-bottom: 3px solid var(--color-lightGrey);
}

nav ul li:hover {
  border-bottom: 3px solid var(--color-blue);
}

nav ul li:hover > a {
  color: var(--color-blue);
}

/***********************/
/*        TITLE        */
/***********************/

.title__container {
  grid-column: 2;
}

.title__container h1 {
  margin-top: 1rem;
  font-size: 1.2rem;
}
.subtitle {
  font-size: 0.9rem;
  margin-top: 0.9rem;
}

/***********************/
/*      SEARCHBAR      */
/***********************/

.searchBar__container {
  grid-column: 2;
  display: flex;
  margin-top: 1.5rem;
}

.searchBar__container .map {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--color-lightGrey);
  border-radius: 15px 0 0 15px;
}

.searchBar__input {
  height: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  border: 2px solid var(--color-lightGrey);
  border-radius: 0 15px 15px 0;
  padding: 25px;
  margin: 0;
  outline: none;
  width: 100%;
}

.searchBar__input:focus {
  border: 2px solid var(--color-blue);
}

.searchBar__submit-text {
  display: none;
}

.searchBar__submit-icon {
  background-color: var(--color-blue);
  color: white;
  border: 1px solid var(--color-blue);
  border-radius: 15px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  position: absolute;
  position: absolute;
  right: var(--margin-body);
}

/***********************/
/*       FILTER        */
/***********************/

.filter__container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.filter__container p {
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 2rem;
}

.filter__button__container {
  display: flex;
  flex-wrap: wrap;
}

.filter__button {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
  border: 2px solid var(--color-lightGrey);
  border-radius: 24px;
  padding: 0;
  margin: 1rem 0.3rem 0 0;
  padding-right: 0.5rem;
  height: 3rem;
  background-color: white;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.filter__button:hover {
  background-color: var(--color-lightBlue);
  border: 2px solid var(--color-lightBlue);
}

.icon__button {
  border-radius: 50%;
  position: relative;
  background-color: var(--color-lightBlue);
  left: -5px;
  padding: 9px 6px;
}

.filter__button i {
  color: var(--color-blue);
  padding: 6px 9px;
}

/***********************/
/*         INFO        */
/***********************/

.info__container {
  grid-column: 2;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.info__container i {
  border: 1px solid var(--color-lightGrey);
  border-radius: 50%;
  padding: 6px 10px;
  margin-right: 0.8rem;
  color: var(--color-blue);
  font-size: 0.7rem;
}

.info__container p {
  font-size: 16px;
}

/************************************/
/*            SECTIONS              */
/************************************/

/***********************/
/*    ACCOMODATIONS    */
/***********************/

#accomodations {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 2rem;
}

aside,
article {
  padding: 2rem 5% 0 5%;
}

article h2 {
  margin-bottom: 2rem;
}

aside {
  background-color: var(--color-lightGrey);
}

.popular__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.popular__title i {
  font-size: 1.5rem;
}

.more {
  font-weight: bold;
  font-size: 1.3rem;
}

.more:hover {
  text-decoration: underline;
}
/****************************/
/*    ACCOMODATIONS CARDS   */
/****************************/

.accomodations__cards__container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-auto-rows: 197px;
  margin-bottom: 2rem;
}

figure {
  border: 5px solid white;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: transform 0.2s;
}

figure:hover {
  transform: scale(1.05);
}

.card__image {
  height: 7rem;
  display: flex;
  align-items: center;
  border-radius: 15px 15px 0 0;
  position: relative;
  overflow: hidden;
}

.card__image img {
  width: 100%;
  max-width: 100%;
  position: absolute;
}

figcaption {
  padding: 0.5rem 0 0 0.7rem;
}

figcaption h3,
.popular-card__body h3 {
  margin: 0;
  font-size: 15px;
}

figcaption p,
.popular-card__body p {
  font-size: 12px;
}

.footer_card {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 0.5rem;
}

.card__star {
  display: flex;
}

.card__star i {
  color: var(--color-blue);
}

.grey {
  color: var(--color-lightGrey) !important;
}

/****************************/
/*       POPULAR CARDS      */
/****************************/

.popular__cards__container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-auto-rows: 147px;
  margin-bottom: 3rem;
}

.popular-formCard {
  display: flex;
  height: 100%;
}

.popular-card__image {
  width: 40%;
  display: flex;
  justify-content: center;
  border-radius: 15px 0 0 15px;
  position: relative;
  overflow: hidden;
}

.popular-card__image img {
  height: 100%;
  min-width: 100%;
  position: absolute;
  object-fit: cover;
}

.popular-card__body {
  padding: 1rem 0 0 1.3rem;
  width: 57%;
  display: flex;
  flex-direction: column;
}

/***********************/
/*      ACTIVITIES     */
/***********************/

#activities {
  grid-column: 1 / -1;
  margin-top: 2rem;
  padding: 2rem 5% 0 5%;
}

#activities h2 {
  margin-bottom: 2rem;
}

.activities__container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-auto-rows: 213px;
  margin-bottom: 3rem;
}

.activityCard {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: transform 0.2s;
}

.activityCard:hover {
  transform: scale(1.05);
}

.activityCard__image {
  height: 9rem;
  position: relative;
}

.activityCard__image img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.activityCard__body {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
}

.activityCard__body p {
  font-size: 16px;
}

/************************************/
/*              FOOTER              */
/************************************/

.footer__container {
  grid-column: 1/-1;
  background-color: var(--color-lightGrey);
  padding: 2rem 5%;
  display: flex;
  flex-direction: column;
}

.footer__section ul {
  display: flex;
  flex-direction: column;
}

.footer__section li {
  padding-bottom: 1rem;
}

.footer__section li:hover {
  text-decoration: underline;
}

@media (min-width: 338px) {
  .filter__button {
    font-size: 1rem;
  }
}

@media (min-width: 380px) {
  .filter__button {
    font-size: 1.1rem;
    margin: 1rem 0.7rem 0 0;
    padding-right: 0.8rem;
  }
}

@media (min-width: 400px) {
  .filter__button {
    font-size: 1.2rem;
  }
}

@media (min-width: 440px) {
  .popular-card__body h3 {
    font-size: 18px;
  }

  .popular-card__body p {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  .title__container h1 {
    font-size: 1.7rem;
  }
  .subtitle {
    margin-top: 0.5rem;
    font-size: 1.1rem;
  }
}

@media (min-width: 769px) {
  header {
    grid-column: 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 15rem 10rem;
  }

  .logo,
  .signIn {
    padding: 0;
  }

  .signIn,
  nav {
    grid-row: 1;
    margin-left: 1.7rem;
  }

  nav ul li {
    padding: 40px 0;
    text-align: center;
    border-bottom: none;
  }

  nav ul li:hover {
    border-bottom: none;
    padding-top: 39px;
    border-top: 1px solid var(--color-blue);
  }

  .searchBar__input {
    width: 22rem;
    border-radius: 0;
  }

  .searchBar__submit-text {
    display: inline-block;
    background-color: var(--color-blue);
    color: white;
    border: 1px solid var(--color-blue);
    border-radius: 0 15px 15px 0;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    cursor: pointer;
  }
  .searchBar__submit-icon {
    display: none;
  }
  .searchBar__submit-icon i {
    display: none;
  }
}

@media (min-width: 992px) {
  :root {
    --margin-body: 3%;
  }

  .filter__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .filter__container p {
    margin-bottom: 0;
    margin-top: 0;
  }

  .filter__button {
    font-size: 1.1rem;
    margin: 0 0.7rem;
    padding-right: 1.2rem;
  }

  .footer__container {
    flex-direction: row;
  }

  .footer__section {
    width: 33%;
  }
}

@media (min-width: 1090px) {
  #accomodations {
    grid-column: 2;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
  }

  .accomodations__cards__container {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-auto-rows: 185px;
    margin-bottom: 3rem;
  }

  .card__image {
    height: 6rem;
  }

  .popular__cards__container {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-auto-rows: 120px;
  }

  .popular-card__body {
    padding: 0.5rem 0 0 0.8rem;
  }

  .popular-card__body h3 {
    font-size: 15px;
  }

  .popular-card__body p {
    font-size: 12px;
  }

  article,
  aside {
    background-color: var(--color-lightGrey);
    padding: 2rem;
    border-radius: 15px;
  }

  article {
    width: 70%;
    margin-right: 2rem;
  }

  aside {
    width: 30%;
  }

  #activities {
    grid-column: 2;
    padding: 0;
  }

  .activities__container {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 25px);
  }

  .activityCard__body p {
    font-size: 14px;
  }

  .activities__container a:nth-child(1) {
    grid-column: 1;
  }

  .activities__container a:nth-child(2) {
    grid-column: 2;
    grid-row: 1 / 7;
  }
  .activities__container a:nth-child(3) {
    grid-column: 2;
    grid-row: 8 / 12;
  }
  .activities__container a:nth-child(4) {
    grid-column: 3;
  }

  .activities__container a:nth-child(5) {
    grid-column: 4;
    grid-row: 1 / 6;
  }

  .activities__container a:nth-child(6) {
    grid-column: 4;
    grid-row: 7 / 12;
  }

  .xlongCard {
    height: 30.5rem;
  }

  .longCard {
    height: 15rem;
  }

  .mediumCard {
    height: 12rem;
  }
}

@media (min-width: 1266px) {
  .activityCard__body p {
    font-size: 16px;
  }
}

@media (min-width: 1370px) {
  .accomodations__cards__container {
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-auto-rows: 220px;
  }

  .card__image {
    height: 8rem;
  }

  .card__body h3,
  .popular-card__body h3 {
    font-size: 17px;
  }

  .card__body p,
  .popular-card__body p {
    font-size: 14px;
  }

  .popular__cards__container {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: 144px;
  }
}

@media (min-width: 1550px) {
  .accomodations__cards__container {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-auto-rows: 235px;
  }

  .card__image {
    height: 9rem;
  }

  .popular__cards__container {
    grid-auto-rows: 160px;
  }

  .card__body h3,
  .popular-card__body h3 {
    font-size: 19px;
  }

  .card__body p,
  .popular-card__body p {
    font-size: 15px;
  }

  .activityCard__body p {
    font-size: 18px;
  }
}
